fastapi
uvicorn
python_dotenv
pymongo
pandas
openpyxl
slowapi
# Removed local Chroma VDB dependencies; using Azure Search instead
# langchain_chroma
# langchain_google_genai
infisicalsdk # For Secret Management
boto3 # For Blob Storage
google-genai
azure-search-documents
azure-identity